<header>
<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <h2 style="color: white">Chat</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</header>

<div class="chat">
    <div class="container">
        <div class="chatinhalt">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>John: </b>
                        <span>Hello!</span>
                    </li>
                    <li class="list-group-item">
                        <b>Will: </b>
                        <span>Whats up?</span>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
            <div class="sendechat row">
                <div class="col-2">
                    <input type="text" class="form-control" id="input-user" name="user" ngModel>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="input-message" name="message" ngModel>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary btn-block">Senden</button>
                </div>
            </div>
        </form>
    </div>
</div>