@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&display=swap');  /* Schriftart von Google Fonts importiert */

html {
    scroll-behavior: smooth;  /* für Scroll to Top Button */
}

body {
    /* width: 100%; */
    font-family: 'Advent Pro', sans-serif;
}
body button {  /* Allgemeines Button Styling mit Hover Transition */
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.6;
}
body button:hover {
    background-color: black;
    transition: background-color 600ms linear;
    color: white;
    opacity: 1;
}



#login {  /* Login in Mitte setzen */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
}
#login h1 {
    margin-bottom: 3%;
}
#login input { /* Input Styling vom Login (Username und Passwort */
    font-family: 'Advent Pro', sans-serif;
    font-size: 150%;
    margin-bottom: 0.5%;
    border-radius: 20px;
    text-align: center;
    border: 1px solid gray;
}
#login input:hover {
    border: 1.5px solid black;
}

.dialog input {  /* Dialog Styling */
    font-family: 'Advent Pro', sans-serif;
    font-size: 150%;
    margin-bottom: 0.5%;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 5%;
    opacity: 1;
}
.dialog input:hover {
    border: 1.5px solid black;
}
.dialog {
    border: 1.5px solid gray;
    border-radius: 10px;
    padding: 5%;
    opacity: 1;
    background-color: white;
}
.dialog button {
    padding: 2.5%;
    opacity: 1;
}

#uploadDialog input {
    font-size: 100%;
}



#logout {  /* Styling vom Logout Button mit Hover Transition, soll immer oben links angezeigt werden (fixed) */
    border: 1px solid red;
    color: red;
    opacity: 0.6;
    float: left;
    position: fixed;
    left: 1%;
    top: 2.5%;
}
#logout:hover {
    background-color: red;
    transition: background-color 600ms linear;
    color: white;
    border: 1px solid red;
    opacity: 1;
}

#back { /* Styling vom Zurück Button, soll immer oben rechts angezeigt werden (fixed) */
    float: right;
    position: fixed;
    right: 1%;
    top: 2.5%;
}


#loginbutton {  /* Login Button Styling */
    border: 1px solid green;
    color: green;
    opacity: 0.6;
}
#loginbutton:hover {
    background-color: green;
    transition: background-color 600ms linear;
    color: white;
    border: 1px solid green;
    opacity: 1;
}


#page {  /* Page Div in Mitte setzen und Texte in Center zentrieren, das gleiche mit ordnercontent div */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#ordnercontent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#ordnercontent .daten {  /* alle erstellten und vorhandenen Ordner haben die Klasse Daten und bekommen einen Float und einen Width von 25%, sodass 4 Stück in eine Reihe passen */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 25%;
    float: left; 
}

#ordnercontent .img:hover {  /* Hover für das Image mit Transition von Box Shadow */
    border-radius: 30px;
    box-shadow: 0px 3px 62px 0px rgba(0,0,0,0.75);
    transition: box-shadow 600ms linear;
}

#ordnercontent .img {  /* Cursor bei Image bzw über Image immer auzf pointer setzen und Image nach unten Platz machen, damit delete Button nicht so nah dran ist */
    margin-bottom: 1%;
    width: 40%;
    cursor: pointer;
}

#ordnercontent .deletebutton:hover { /* hover mit Transition für Delete Button */
    background-color: red;
    transition: background-color 600ms linear;
    color: white;
    border: 1px solid red;
    opacity: 1;
}
#ordnercontent .deletebutton {
    border: 1px solid #ff6666;
    opacity: 1;
    color: #ff6666;
    padding: 2.7%;
    margin-bottom: 1%;
}
#ordnercontent .h1 {
    font-weight: bold;
}


#top {  /* Goto Top Button soll immer unten rechts angezeigt werden (fixed) */
    text-decoration: none;
    position: fixed;
    right: 1%;
    bottom: 1%;
    color: gray;
}

dialog {
    margin-top: 15%;
}


/* Anpassungen für kleinere Screens bzw. Handys, sodass Webseite trotzdem übersichtlich bleibt */

@media only screen and (max-width: 1050px) {
    #ordnercontent .daten {
        width: 33%;
        float: left; 
    }
    body button {
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 0.8%;
        padding-bottom: 0.8%;
    }
    dialog {
        margin-top: 30%;
    }

}

@media only screen and (max-width: 820px) {
    #ordnercontent .daten {
        width: 50%;
        float: left; 
    }
    body button {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    dialog {
        margin-top: 50%;
    }
}

@media only screen and (max-width: 450px) {
    #ordnercontent .daten {
        width: 100%;
        float: left; 
    }
    body button {
        padding-left: 5.5%;
        padding-right: 5.5%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
    #verzeichnis {
        font-size: 110%;
    }
    #logout {
        border: 1px solid red;
        color: red;
        opacity: 0.6;
        float: left;
        position: fixed;
        left: 1%;
        top: 1%;
    }   
    #back {
        float: right;
        position: fixed;
        right: 1%;
        top: 1%;
    }
    dialog {
        margin-top: 70%;
    }
    
}