html {
    scroll-behavior: smooth;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
#wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */    
}

.chatbuttons:hover {
    background: #f7f7f7;
}
.nachrichtrechts {
    background: white;
    padding: 2%;
}
.nachrichtlinks {
    background: white;
    padding: 2%;
} 
.senden {
    position: relative;
    bottom: 1%;
}
.navi {
    background:#EF8E1C;
    opacity: 1;
}
h1 {
    margin-top: 30%;
}

.speech-bubble {
	width: 500px;
	border: 2px solid #EF8E1C;
	padding: 20px;
	text-align: center;
	font-weight: 900;
	color: black;
	font-family: arial;
	position: relative;
	border-radius: 10px;
  }
  
  .speech-bubble-right:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #EF8E1C;
	border-right: 10px solid transparent;
	border-top: 10px solid #EF8E1C;
	border-bottom: 10px solid transparent;
	right: -21px;
	top: 6px;
  }
  
  .speech-bubble-left:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid #EF8E1C;
	border-top: 10px solid #EF8E1C;
	border-bottom: 10px solid transparent;
	left: -21px;
	top: 6px;
  }

/* .speech-bubble-right {
	position: relative;
	background:  #f7f7f7;
	border-radius: .4em;
	border: 1px solid gray;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-left-color: #f7f7f7;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-top: -8px;
	margin-right: -16px;
}

.speech-bubble-left {
	position: relative;
	border: 1px solid gray;
	background: #f7f7f7;
	border-radius: .4em;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right-color: #f7f7f7;
	border-left: 0;
	border-bottom: 0;
	margin-top: -8px;
	margin-left: -16px;
} */



@media only screen and (max-width: 768px) {
	#wrapper {
		display: none;   
	}
	#send {
		display: none;  
	}
	#padding {
		padding-top: 30%;
		background: #EF8E1C;
	}
	.navi {
		display: none;
	}
}

